<mat-toolbar>
  <button mat-button routerLink="/">My Quiz</button>

  <button mat-button routerLink="/play">play</button>
  <!-- <button mat-button routerLink="/question">Question</button> -->
  <button mat-button routerLink="/questions">Question List</button>
  <span style="flex: 1 1 auto"></span>
  <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/register">register</button>
  <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/login">Login</button>
  <button mat-button *ngIf="auth.isAuthenticated" (click)="auth.logout()">LogOut</button>


</mat-toolbar>
